
<footer class="navbar-fixed-bottom" style="alignment: center; margin-left: auto; margin-right: auto">
  <hr />
  &copy; 2018 - Mansi Patel & Ramandeep Kaur
</footer>

<!-- js -->
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/clientScripts.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>


</body>
</html>