<% include ./partials/header.ejs %>

<h1><%= title %></h1>

<main class="container">
    <section class="jumbotron">
                <img class="logo" src="/images/books1.png">

    </section>
</main>

<% include ./partials/footer.ejs %>